<a href="https://colab.research.google.com/github/oracky/Corona-virus-Europe-analysis/blob/master/Corona_virus_in_Europe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import libraries

In [0]:
from typing import List
import pandas as pd
import numpy as np
import datetime
import os
import csv

# Functions for getting data for analysis

In [0]:
def get_europe_countries():
  url = f"https://raw.githubusercontent.com/oracky/Corona-virus-Europe-analysis"\
        f"/master/countries2.csv"
  countries = pd.read_csv(url, error_bad_lines=False)
  europe_countries = countries.loc[countries["Continent"]=="Europe"]
  return europe_countries["Country/Region"].values.tolist()

In [0]:
def get_country_gdp():
  """
  Important!
  Returns list of only EUROPEAN countries GDP in 2019
  """
  url = f"https://raw.githubusercontent.com/oracky/Corona-virus-Europe-analysis"\
        f"/master/gdp-europe-2019.csv"
  gdp = pd.read_csv(url, error_bad_lines=False)
  return gdp

In [0]:
def get_confirmed_cases():
  url = f"https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/"\
        f"csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv"
  return pd.read_csv(url, error_bad_lines=False)

In [0]:
def get_confirmed_deaths():
  url = f"https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/"\
        f"csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv"
  return pd.read_csv(url, error_bad_lines=False)

In [0]:
def get_confirmed_recoveries():
  url = f"https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/"\
        f"csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv"
  return pd.read_csv(url, error_bad_lines=False)

# Filter results

In [0]:
def filter_overseas(countries):
  return countries[countries["Province/State"].isnull()]

In [0]:
def select_only_europe(countries):
  countries = filter_overseas(countries)
  return countries[countries["Country/Region"].isin(get_europe_countries())]

In [9]:
cases = get_confirmed_recoveries()
select_only_europe(cases)


#x.loc[0].iat[3]

    Province/State          Country/Region      Lat  ...  3/24/20  3/25/20  3/26/20
1              NaN                 Albania  41.1533  ...       10       17       17
3              NaN                 Andorra  42.5063  ...        1        1        1
16             NaN                 Austria  47.5162  ...        9        9      112
22             NaN                 Belarus  53.7098  ...       22       29       29
23             NaN                 Belgium  50.8333  ...      461      547      675
28             NaN  Bosnia and Herzegovina  43.9159  ...        2        2        2
31             NaN                Bulgaria  42.7339  ...        3        4        8
78             NaN                 Croatia  45.1000  ...        5       22       22
85             NaN                 Denmark  56.2639  ...        1        1        1
94             NaN                 Estonia  58.5953  ...        7        8        8
98             NaN                 Finland  64.0000  ...       10       10       10
108            NaN                  France  46.2276  ...     3243     3900     4948
112            NaN                 Germany  51.0000  ...     3243     3547     5673
115            NaN                  Greece  39.0742  ...       29       36       36
123            NaN                 Hungary  47.1625  ...       21       21       28
124            NaN                 Iceland  64.9631  ...       51       56       82
131            NaN                   Italy  43.0000  ...     8326     9362    10361
140            NaN                  Latvia  56.8796  ...        1        1        1
144            NaN           Liechtenstein  47.1400  ...        0        0        0
145            NaN               Lithuania  55.1694  ...        1        1        1
146            NaN              Luxembourg  49.8153  ...        6        6        6
151            NaN                   Malta  35.9375  ...        2        2        2
155            NaN                 Moldova  47.4116  ...        2        2        2
156            NaN                  Monaco  43.7333  ...        1        1        1
158            NaN              Montenegro  42.5000  ...        0        0        0
172            NaN                  Norway  60.4720  ...        6        6        6
180            NaN                  Poland  51.9194  ...        1        7        7
181            NaN                Portugal  39.3999  ...       22       22       43
183            NaN                 Romania  45.9432  ...       79       86       94
184            NaN                  Russia  60.0000  ...       22       29       38
189            NaN              San Marino  43.9424  ...        4        4        4
192            NaN                  Serbia  44.0165  ...       15       15        0
195            NaN                Slovakia  48.6690  ...        7        7        2
196            NaN                Slovenia  46.1512  ...        0       10       10
199            NaN                   Spain  40.0000  ...     3794     5367     7015
203            NaN                  Sweden  63.0000  ...       16       16       16
204            NaN             Switzerland  46.8182  ...      131      131      131
215            NaN                 Ukraine  48.3794  ...        1        1        1
223            NaN          United Kingdom  55.3781  ...      135      135      135

[39 rows x 69 columns]